*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{

    width: 100%;
    height: 100vh;

    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.container2{
    width: 100%;
    height: 100vh;
    background-image:url(../images/img3.PNG);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height:12%;
    display:flex;
    align-items: center;
}


.menu-icon{
    width:30px;
    cursor:pointer;
    margin-left: 40px;
}

nav{
    flex:1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
 
nav ul li a{
   text-decoration: none;
    color: #fff;
    font-size:13px;
}

.col{
    text-align:center;
    display: block;
    width: 100%;
}

h1{
    color: #FFC000;
    font-family: monospace;
    font-size: 120px;
    text-align: right;
}

h2{
    color: #fbe5d6;
    font-family: monospace;
    font-size: 90px;;
    text-align:right;
    margin-top: 15px;
    position: fixed;
    left: 1000px;
}

#start{
    width: 180px;
    color:white;
    background-color: #E69900;
    font-size: 25px;
    padding: 12px;
    border-radius: 50px;
    outline: none;
    margin-top: 350px;
    margin-left: 600px;
    transform: scale(180%);
}

#info{
    width: 180px;
    color:white;
    background-color: #E69900;
    font-size: 25px;
    padding: 12px;
    border-radius: 50px;
    outline: none;
    margin-top: 15px;
    margin-left: 600px;
}

#mainView{
    font-style: Impact;
    text-align:center;
    margin-top: 15px;
    left: 450px;
}

#pressMe{
    position: sticky;
    color: #fff;
    left: 50%;
    bottom:300px;
    font-size: 25px;
    background-color: #FFC000;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 6px solid white;
    transform: scale(130%);
    
 }
 
 #pressMe:hover {
    font-size: 200%;
    opacity: .9;
 }

 #message {
    position:sticky;
    left: 66%;
    top: 400px;
    font-size: 30px;
    height: 200px;
    width: 300px;
    overflow-wrap: break-word;
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

 }

 #imgCard {
    position: relative;
    bottom: 90px;
    right: 290px;
    transform: scale(140%);

 }

 #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -100;
    opacity: .9;
  }
